<div class="col-md-3">
    <div class="pro-user">
        {% if teacher.imageName == 'inconnu' and teacher.sexe == 'Homme' %}
            <img src="{{asset('images/inconnu.png')}}" alt="user">
        {% elseif teacher.imageName == 'inconnu' and teacher.sexe == 'Femme'  %}
            <img src="{{asset('images/inconnue.png')}}" alt="user">
        {% else %}
            <img src="" alt="user">
        {% endif %}
    </div>
    <div class="pro-user-bio">
        <ul>
            <li><h4>{{teacher.lastName}}  {{teacher.firstName}}  </h4> </li>
            <li><strong>Spécialité : </strong>{{teacher.specialty}} </li>
            <li><strong>Nom d'utilisateur : </strong>{{teacher.username}}</li>
            <a href="#" style="color:gray; ><i class="fa fa-key"></i>Changer le mot de passe</a>
        </ul>
    </div>
</div>