{% extends 'admin-base.html.twig' %}


{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_parameter_show' , {'id' : 1 })}}">Paramètres du site</a>
                        </li>
                        <li class="active-bre"><a href="#">Modifier les paramètres du site</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp admin-form">
				                <div class="sb2-2-add-blog sb2-2-1">
                                    <h2>Modifier les parametères du site</h2>

                                            <ul class="nav nav-tabs tab-list">
                                                <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true"><i class="fa fa-info" aria-hidden="true"></i> <span>Informations générales</span></a>
                                                </li>
                                                <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false"><i class="fa fa-align-justify" aria-hidden="true"></i> <span>Programme</span></a>
                                                </li>
                                                <li class=""><a data-toggle="tab" href="#menu3" aria-expanded="false"><i class="fa fa-language" aria-hidden="true"></i> <span>Bilinguisme</span></a>
                                                </li>
                                                <li class=""><a data-toggle="tab" href="#menu4" aria-expanded="false"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>Périscolaire</span></a>
                                                </li>
                                                <li class=""><a data-toggle="tab" href="#menu5" aria-expanded="false"><i class="fa fa-user-md" aria-hidden="true"></i> <span>Aide à l'éléve</span></a>
                                                </li>
                                            </ul>
                                            {{ form_start(form)}}
                                            <div class="tab-content">
                                            
                                                <div id="home" class="tab-pane fade active in">
                                                    <div class="box-inn-sp">
                                                        <div class="inn-title">
                                                            <h4>Informations générales</h4>
                                                        </div>
                                                        <div class="bor">
                                                            <div class="row">
                                                                <div class="col-md-4">{{ form_row(form.address)}}</div>
                                                                <div class="col-md-4">{{ form_row(form.phone)}}</div>
                                                                <div class="col-md-4">{{ form_row(form.email)}}</div>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div id="menu2" class="tab-pane fade">
                                                    <div class="inn-title">
                                                        <h4>Programme</h4>
                                                    </div>
                                                    <div class="bor">
                                                        <div class="row">
                                                            <div class="col-md-12">{{ form_row(form.programDesc)}}</div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div id="menu3" class="tab-pane fade">
                                                    <div class="inn-title">
                                                        <h4>Bilinguisme</h4>
                                                    </div>
                                                    <div class="bor ad-cou-deta-h4">
                                                           <div class="row">
                                                                <div class="col-md-12">{{ form_row(form.bilingDesc)}}</div>
                                                            </div>
                                                            
                                                    </div>
                                                </div>
                                                <div id="menu4" class="tab-pane fade">
                                                    <div class="inn-title">
                                                        <h4>Périscolaire</h4>
                                                    </div>
                                                    <div class="bor ad-cou-deta-h4">
                                                           <div class="row">
                                                                <div class="col-md-12">{{ form_row(form.extraDesc)}}</div>
                                                            </div>
                                                            
                                                    </div>
                                                </div>
                                                <div id="menu5" class="tab-pane fade">
                                                    <div class="inn-title">
                                                        <h4>Aide à l'éléve</h4>
                                                    </div>
                                                    <div class="bor ad-cou-deta-h4">
                                                           <div class="row">
                                                                <div class="col-md-12">{{ form_row(form.helpDesc)}}</div>
                                                            </div>
                                                            
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                            <button class="btn">{{ button_label|default('Modifier') }}</button>
                                            {{ form_end(form)}}
                                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}