{% extends 'admin-base.html.twig' %}

{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#">Paramètres du site</a>
                        </li>
                        <li class="active-bre"><a href="#">Paramètres générales</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                             <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Paramétres générales</h4>
                                </div>
                                <div class="bor">
                                    <div class="row">
                                        <div ><h5>Adresse : </h5>{{ parameter.address}}</div><br>
                                        <div ><h5>Téléphone : </h5>{{parameter.phone|slice(0,2)}} {{parameter.phone|slice(2,3)}} {{parameter.phone|slice(5,3)}}</div><br>
                                        <div ><h5>E-mail : </h5>{{ parameter.email}}</div><br>
                                        <div ><h5>Année scolaire : </h5>{{ parameter.schoolYear}}</div><br>
                                    </div>  
                                    <div class="text-right">
                                        <a href="{{ path('admin_parameter_edit_general')}}"  class="btn fa fa-pencil">Modifier </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                            {#<a href="{{'/Pro-Education/public' ~ vich_uploader_asset( parameter ,'programFile') }}">voir program (PDF)</a>#}
                                                            {#<embed src="{{'/Pro-Education/public' ~ vich_uploader_asset( parameter ,'programFile') }}"  width=800 height=500 type='application/pdf'/>#}
                                                     
                    </div>                            
                </div>
            </div>

{% endblock %}