{% extends 'admin-base.html.twig' %}


{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#"> Paramétres du site</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_parameters_image')}}"> Paramétres image</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Paramétres image</h4>
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Titre</th>
                                                    <th>Image</th>
													<th>Mise à jour</th>
													<th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in images %}
                                                <tr>
                                                    <td>{{i.title}}</td>
                                                    <td><img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( i ,'imageFile') }} " alt="picture" style="width:30%; height:30%;"></td>
                                                    <td>{{i.updatedAt|date("d/m/Y h:m") }}</td>
													<td><a href="{{path('admin_parameter_edit_image' , {'id':i.id})}}" ><span class="fa fa-pencil"> Modifier</span></a> </td>
                                                </tr>
                                            {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(images) }}
                </div>
            </div>

        </div>
        
    </div>
{% endblock %}