{% extends 'admin-base.html.twig' %}

{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#">Paramètres du site</a>
                        </li>
                        <li class="active-bre"><a href="#">Paramètres générales</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                             <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Paramétres générales</h4>
                                </div>
                                <div class="tab-inn">

                                         <div class="sdb-tabl-com sdb-pro-table">
                                            <table class="responsive-table bordered">
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Année scolaire</strong></td>
                                                        <td>:</td>
                                                        <td>{{ parameter.schoolYear}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Trimestre</strong></td>
                                                        <td>:</td>
                                                        <td>{{ parameter.quarter}} </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Téléphone</strong></td>
                                                        <td>:</td>
                                                        <td>{{parameter.phone|slice(0,2)}} {{parameter.phone|slice(2,3)}} {{parameter.phone|slice(5,3)}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>E-mail</strong></td>
                                                        <td>:</td>
                                                        <td>{{ parameter.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Adresse</strong></td>
                                                        <td>:</td>
                                                        <td>{{ parameter.address}}</td>
                                                    </tr>
                                                   
                                                    
                                                </tbody>
                                            </table>
                                            <br>
                                            <div class="text-right">
                                                <a href="{{ path('admin_parameter_edit_general')}}"  class="btn fa fa-pencil">Modifier </a>
                                            </div>
                                        </div>
                                           
                                </div>
                            </div>
                                                            
                        </div>                     
                    </div>                            
                </div>
            </div>

{% endblock %}