{{ form_start(form) }}
<div class="udb-sec udb-cour-stat">
      <h4>Année scolaire {{form.vars.value.libelle}}</h4>
     <div class="row">
       <div class="col-md-4">{{ form_row(form.startAt)}}</div>
       <div class="col-md-4">{{ form_row(form.finishAt)}}</div>
     </div>
  </div>
  
     <div  class="udb-sec udb-cour-stat">
        {% for row in form.quarters %}
            <div >
                <h4>Trimestre {{row.vars.value.number}}</h4>
                <div class="row">
                  <div class="col-md-4">{{ form_row(row.startAt)}}</div>
                  <div class="col-md-4">{{ form_row(row.finishAt)}}</div>
                  <div class="col-md-4">{{ form_row(row.councilDate)}}</div>
                </div>
                
            </div>
            <br><br>
        {% endfor %} 
     </div><br>&nbsp; &nbsp;
       &nbsp; <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    
{{ form_end(form) }}