{% extends 'front-base.html.twig  ' %}
{% set jours = ['Lundi', 'Mardi' , 'Mercredi' , 'Jeudi' , 'Vendredi' ,'Samedi'] %}
{% set i = 0 %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        <div class="pro-menu">
            <div class="container">
                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li><a href="{{path('student_profile', {'id': student.id})}}">Profile</a></li>
                        <li><a href="{{path('student_timetable', {'id': student.id})}}" class="pro-act" >Emploi du temps</a></li>
                        <li><a href="{{path('student_discipline', {'id': student.id})}}" >Discipline</a></li>
                        <li><a href="{{path('student_exams', {'id': student.id})}}">Examens</a></li>
                        <li><a href="{{path('student_notes', {'id': student.id})}}">Résultats</a></li>
                        <li><a href="{{path('student_obs', {'id': student.id})}}">Observations</a></li>
                        <li><a href="{{path('student_doc_index', {'id': student.id})}}" >Documents</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Student/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">

                        <div class="udb-sec udb-time">
                            <h4><img src="{{asset('images/icon/db4.png')}}" alt="" />Emploi du temps</h4>
                            
                            <div class="tour_head1 udb-time-line days">
                                <ul>
                                    {% for tab in timetable %}
                                        <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <div class="sdb-cl-tim">
                                                <div class="sdb-cl-day">
                                                    <h5>{{ jours[ i ] }}</h5>
                                                </div>
                                                <div class="sdb-cl-class">
                                                    <ul>
                                                    {% for s in tab %}
                                                        <li>
                                                            <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Class timing">
                                                                <span>
                                                                    {% set start = s.startAt|date("h") %}
                                                                    {% if start < 8 %}
                                                                        {{start}}:00 PM
                                                                    {% else %}
                                                                        {{start}}:00 AM
                                                                    {% endif %}
                                                                </span>
                                                                <span>
                                                                    {% set finish = s.finishAt|date("h") %}
                                                                    {% if finish < 8 %}
                                                                        {{finish}}:00 PM
                                                                    {% else %}
                                                                        {{finish}}:00 AM
                                                                    {% endif %}
                                                                </span>
                                                            </div>
                                                            <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                                <h5>{{s.course.libelle}}<span style="color:DarkGreen;">{{s.teacher}}</span></h5>
                                                                <span class="sdn-hall-na">{{s.room}}</span>
                                                            </div>
                                                        </li>
                                                    {% endfor %} 
                                                    </ul>
                                                    {% set i = i + 1 %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 