{% extends 'front-base.html.twig  ' %}
{% block body %}
    <section>
        <div class="pro-cover">
        </div>
        <div class="pro-menu">
            <div class="container">
                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li><a href="{{path('guardian_profile', {'id': guardian.id})}}" >Profile</a></li>
                        <li><a href="{{path('guardian_children', {'id': guardian.id})}}" class="pro-act" >Enfants</a></li>
                        <li><a href="{{path('guardian_teachers', {'id': guardian.id})}}" >Enseignants</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stu-db">
            <div class="container pg-inn">
                <div class="col-md-3">
                    <div class="pro-user">
                        <img src="{{asset('images/student.jpg')}}" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <h4>{{guardian.lastName}}  {{guardian.firstName}}  </h4>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                            <h4><img src="{{asset('images/icon/db3.png')}}" alt="" />Mes absences</h4>
                            
                            <div class="pro-con-table">
                                <table class="bordered responsive-table">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Course Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>01</td>
                                            <td>Software Testing</td>
                                            <td>12May 2018</td>
                                            <td>18Aug 2018</td>
                                            <td><span class="pro-user-act">active</span></td>
                                            <td><a href="sdb-course-edit.html" class="pro-edit">edit</a></td>
                                            <td><a href="sdb-course-view.html" class="pro-edit">view</a></td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
  


{% endblock %} 