{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        <div class="pro-menu">
            <div class="container">
                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li><a href="{{path('guardian_profile', {'id': guardian.id})}}" >Profile</a></li>
                        <li><a href="{{path('guardian_children', {'id': guardian.id})}}" class="pro-act" >Enfants</a></li>
                        <li><a href="{{path('guardian_teachers', {'id': guardian.id})}}" >Enseignants</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Guardian/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">

                        <div class="udb-sec udb-time">
                            <h4><img src="{{asset('images/icon/db5.png')}}" alt="" /> Mon emploi d'examens</h4>
                            
                            <div class="tour_head1 udb-time-line days">
                                <ul>
                                    <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <div class="sdb-cl-tim">
                                            <div class="sdb-cl-day">
                                                <h5>Lundi</h5>
                                            </div>
                                            <div class="sdb-cl-class">
                                                <ul>
                                                    <li>
                                                        <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Class timing">
                                                            <span>08:00 </span>
                                                            <span>10:00 </span>
                                                        </div>
                                                        <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                            <h5>Français <span>TEACHER1 teacher1</span></h5>
                                                            <span class="sdn-hall-na">S15</span>
                                                        </div>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 