{% extends 'front-base.html.twig  ' %}
{% block body %}
    <section>
        <div class="pro-cover">
        </div>
        <div class="pro-menu">
            <div class="container">
                <div class="col-md-9 col-md-offset-3">
                    <ul>
                      <li><a href="{{path('guardian_profile', {'id': guardian.id})}}">Profile</a></li>
                        <li><a href="{{path('guardian_timetable', {'id': guardian.id})}}" >Emploi du temps</a></li>
                        <li><a href="{{path('guardian_discipline_children', {'id': guardian.id})}}" >Discipline</a></li>
                        <li><a href="{{path('guardian_exam_children', {'id': guardian.id})}}" >Examens</a></li>
                        <li><a href="" >Résultats</a></li>
                        <li><a href="{{path('guardian_teachers', {'id': guardian.id})}} "  class="pro-act" >Enseignants</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Guardian/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                            <h4><img src="{{asset('images/icon/db1.png')}}" alt="" />Enseignants</h4>
                            
                            <div class="pro-con-table">
                                <table class="bordered responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Classe</th>
                                            <th>Matiére</th>
                                            <th>Nom & Prénom</th>
                                            <th>Téléphone</th>
                                            <th>E-mail</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    
                                    {% for section ,tab in teachers %}
                                        
                                            <tr>
                                                <td>{{section}}</td>
                                                <td>
                                                    {% for t in tab %}
                                                      {{t.specialty}}<br>
                                                    {% endfor %} 
                                                    
                                                </td>
                                                <td>
                                                    {% for t in tab %}
                                                      {{t}}<br>
                                                    {% endfor %} 
                                                </td>
                                                <td>
                                                     {% for t in tab %}
                                                      {{t.tel|slice(0,2)}} {{t.tel|slice(2,3)}} {{t.tel|slice(5,3)}}<br>
                                                    {% endfor %} 
                                                </td>
                                                <td>
                                                    {% for t in tab %}
                                                      {{t.email}}<br>
                                                    {% endfor %} 
                                                </td>
                                            </tr>
                                        
                                     {% endfor %}   
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
  


{% endblock %} 