{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Profile/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        
                        <div class="udb-sec udb-prof">
                        {% for message in app.flashes('fail') %}
                            <div class="alert alert-danger" >{{ message }}</div>
                        {% endfor %}
                            <h4><i class="fa fa-key"></i> Changer le mot de passe </h4>
                            {{ form_start(form)}}
                                <div class="row">
                                    <div class="col-md-4">{{ form_row(form.password.first)}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">{{ form_row(form.password.second)}}</div>
                                </div>
                                <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                            {{ form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
    {% endblock %} 