{% extends 'admin-base.html.twig' %}


{% block body %}

<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="{{path('admin_guardian_index')}}"> Liste des parents</a>
                        </li>
                        <li class="active-bre"><a href="{{path('admin_guardian_show', {'id': guardian.id})}}">Détails parent</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Détails parent </h4>
                                    
                                </div>
                                <div class="tab-inn">
                                    <div class="udb-sec udb-prof">
                                        <h4>
                                        {% if guardian.imageName == 'inconnu' and guardian.sexe == 'Homme' %}
                                            <img  class="list-img" src="{{asset('images/inconnu.png')}}" alt="admin_photo">
                                        {% elseif guardian.imageName == 'inconnu' and guardian.sexe == 'Femme'  %}
                                            <img class="list-img" src="{{asset('images/inconnue.png')}}" alt="admin_photo">
                                        {% else %}
                                            <img class="list-img" src="" alt="admin_photo">
                                        {% endif %}
                                        {{ guardian.firstName}} {{ guardian.lastName}}</h4>
                                        
                                        <div class="sdb-tabl-com sdb-pro-table">
                                            <table class="responsive-table bordered">
                                                <tbody>
                                                    <tr>
                                                        <td><strong>CIN</strong></td>
                                                        <td>:</td>
                                                        <td>{{ guardian.cin}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Date de naissance</strong></td>
                                                        <td>:</td>
                                                        <td>{{ guardian.birthDate|date('d-m-Y')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Lieu de naissance</strong></td>
                                                        <td>:</td>
                                                        <td>{{ guardian.birthplace}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Sexe</strong></td>
                                                        <td>:</td>
                                                        <td>{{ guardian.sexe}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>E-mail</strong></td>
                                                        <td>:</td>
                                                        <td>{{ guardian.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Téléphone</strong></td>
                                                        <td>:</td>
                                                        <td> {{guardian.tel|slice(0,2)}} {{guardian.tel|slice(2,3)}} {{guardian.tel|slice(5,3)}} </td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td><strong>Adresse</strong></td>
                                                        <td>:</td>
                                                        <td>{{ guardian.address}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td><strong>Métier</strong></td>
                                                        <td>:</td>
                                                        <td>{{ guardian.job}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div><hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Liste des enfants: </h4>
                                    
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
													<th>Détails</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                            {% for s in guardian.children %}
                                                <tr>
                                                    <td>{{ s.firstName}}</td>
                                                    <td>{{ s.LastName}}</td>
                                                    <td>
                                                        <a href="{{ path('admin_student_show2', {'id': s.id}) }}" class="btn btn-info fa fa-eye"></a>
                                                     </td>
											     </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    <hr>
                    <div class="sb2-2-4">
                        <div class="row">
                            
                            <div class="text-right">
                                <a href="{{ path('admin_student_new' , {'id': guardian.id})}}" class="btn">Ajouter un enfant</a>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                
                
            </div>
{% endblock %}