<div class="col-md-3">
    <div class="pro-user">
        {% if student.imageName == 'inconnu' and student.sexe == 0 %}
            <img src="{{asset('images/inconnu.png')}}" alt="user">
        {% elseif student.imageName == 'inconnu' and student.sexe == 1  %}
            <img src="{{asset('images/inconnue.png')}}" alt="user">
        {% else %}
        <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( student ,'imageFile') }} " alt="user" >
            
        {% endif %}
    </div>
    <div class="pro-user-bio">
        <ul>
            <li><h4>{{student.lastName}}  {{student.firstName}}  </h4> </li>
            <li><strong>Classe : </strong>
                {% if not section == null %}
                     {{ section.libelle}}
                {% else %}
                    Pas encore affecté
                {% endif %}
            </li>
            <li><strong>Nom d'utilisateur : </strong>{{student.username}}</li>
            <li><a href="{{path('student_password_edit' ,{'id' : student.id})}}" style="color:gray; "><i class="fa fa-key"></i> Changer le mot de passe</a></li>
        </ul>
    </div>
</div>