{{ form_start(form) }}
    <div class="row">
       <div class="col-md-4">{{ form_row(form.type)}}</div>
     </div>
     <div class="row">
       <div class="col-md-4">{{ form_row(form.number)}}</div>
     </div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}