{% extends 'admin-base.html.twig' %}


{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#"> Salles</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_room_index')}}"> Liste des salles</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <div class="container">
                                        <h4>Liste des salles </h4>
                                        
                                    </div>
                                    
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                    {% for message in app.flashes('success') %}
                                            <div class="alert alert-success" >{{ message }}</div>
                                        {% endfor %}
                                         
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                   <th>Libellé</th>
                                                    <th>Type</th>
                                                    <th>Numéro</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                            {% for r in rooms %}
                                                <tr>
                                                <td>{{r}}</td>
                                                    <td>
                                                    {% if r.type == 0 %}
                                                       Salle
                                                    {% elseif r.type == 1 %}
                                                    Lboratoire
                                                    {% endif %}
                                                    </td>
                                                    <td>{{ r.number }}</td>
                                                    <td><a href="{{ path('admin_room_edit', {'id': r.id}) }}" class="btn btn-warning fa fa-pencil"></a>
                                                      {{ include('Admin/Room/_delete_form.html.twig') }}</td>
                                                    
											     </tr>
                                                {% else %}
                                                <tr><td colspan="4"> Aucune salle  n'est trouvée  </td> <tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(rooms) }}
                </div>
            </div>
{% endblock %}

        


   

