{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.student)}}</div>
        <div class="col-md-4">{{ form_row(form.type)}}</div>
     </div>
     <div class="row">
        <div class="col-md-12">{{ form_row(form.description)}}</div>
     </div> 
     
     
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
