{{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.students)}}</div>
        <div class="col-md-4">{{ form_row(form.type)}}</div>
     </div>
     <br><br>
     <div class="row">
        <div class="col-md-12">{{ form_row(form.description)}}</div>
     </div> 
     
     <br><br><br><br><br>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
