{% extends 'front-base.html.twig  ' %}
{% block stylesheets %}
    <style>
    table, th, td {
        border: 2px solid gray;
    }
    th, td {
        padding: 10px;
        text-align: center;
        color : gray;
    }
    .color {
        background-color: #84add6;
        color: white;
    }


    </style>    
{% endblock %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Discipline/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" >{{ message }}</div>
                        {% endfor %}
                            <h4><img src="{{asset('images/icon/db.png')}}" alt="" />Punitions ({{punish|length}})</h4>
                            <div class="text-right">
                            
                                    <a href="{{path('teacher_punishment_new', {'teacher': teacher.id ,'section' : section.id})}}" ><i class="fa fa-plus-square-o"></i> Créer une punition</a>
                            
                            </div>
                            <div class="pro-con-table">
                                 
                                <table class="bordered responsive-table">
                                    <thead>
                                        <tr>
                                            <th class="color">Type</th>
                                            <th class="color">Date</th>
                                            <th class="color">Détails</th>
                                            <th class="color" colspan="2">Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for p in punish %}
                                        <tr>
                                            <td>
                                              {% if p.type == 0 %}
                                                   Avertissement
                                              {% elseif p.type == 1 %}
                                                    Exclusion
                                              {% else  %}
                                                    Expulsion
                                              {% endif %}
                                            </td>
                                            <td>{{p.date|date("d/m/Y ")}}</td>
                                            <td><a href="{{path('teacher_punishment_show', {'id':p.id})}}" class="btn btn-info fa fa-eye"></a></td>
                                            <td><a href="{{path('teacher_punishment_edit', {'id': p.id ,'section' : section.id })}}" class="btn btn-warning fa fa-pencil"></a></td>
                                            <td>   {{ include('Front/Teacher/Punishment/_delete_form.html.twig') }}</td>
                                        </tr>
                                    {% else %}
                                    
                                     <tr><td colspan="4"> Aucune punition n'est trouvée  </td> <tr>
                                        
                                    {% endfor %}  
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 