{% extends 'admin-base.html.twig' %}


{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#">Classes</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_section_index')}}"> Liste des Classes</a>
                        </li>
                    </ul>
                </div>
                <div>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <div class="container">
                                        <h4>Classes </h4>
                                        
                                    </div>
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        <form class=" form-row">
                                                <div class="col" >
                                                    <input type="text" class="form-control" placeholder="  Niveau" name="level" style="border-style: ridge;" >
                                                </div>
                                                <div class="col" >
                                                    <input type="text" class="form-control" placeholder="  Spécialité" name="specialty" style="border-style: ridge;">
                                                </div>
                                                <div class="col" >
                                                    <input type="text" class="form-control" placeholder="  Numéro" name="number" style="border-style: ridge;">
                                                </div>
                                                <div class="col" >
                                                    <input type="text" class="form-control" placeholder="  Année Scolaire" name="schoolYear" style="border-style: ridge;">
                                                </div>
                                                <div class="col">
                                                     <input type="submit"  value="Rechercher" class="btn btn-primary btn-xs">
                                                </div>
                                        </form>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Libellé</th>
                                                    <th>Année scolaire</th>
                                                    <th>Détails</th>
													<th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                            {% for s in sections %}
                                                <tr>
                                                    <td>{{ s.libelle}}</td>
                                                    <td>{{ s.schoolYear.libelle}}</td>
                                                    <td><a href="{{ path('admin_section_show', {'id': s.id}) }}" class="btn btn-info fa fa-eye"></a></td>
                                                    <td>
                                                       <a href="{{ path('admin_section_edit', {'id': s.id}) }}" class="btn btn-warning fa fa-pencil"></a>
                                                       {{ include('Admin/Section/_delete_form.html.twig') }}
                                                        
                                                    </td>
											     </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(sections) }}
                </div>
            </div>
{% endblock %}