{% extends 'admin-base.html.twig' %}
{% set jours = ['Lundi', 'Mardi' , 'Mercredi' , 'Jeudi' , 'Vendredi' ,'Samedi'] %}
{% set course = ['Sc.Naturelles', 'Physique' , 'Technique' , 'Informatique' ] %}
{% set i = 0 %}
{% set exist = false %}
{% set duration = 0 %}
{% block stylesheets %}
    <style>
    .timetable {
        border: 2px solid Navy;
    
        padding: 10px;
        text-align: center;
    }

    </style>    
{% endblock %}
{% block body %}
    <!--== BODY INNER CONTAINER ==-->
    <div
        class="sb2-2">
        <!--== breadcrumbs ==-->
        <div class="sb2-2-2">
            <ul>
                <li> <a href="{{path('admin_dashbord')}}"><i aria-hidden="true" class="fa fa-home"></i> Acceuil</a> </li>
                <li class="active-bre"><a href="{{ path('admin_section_index')}}"> Liste des Classes</a></li>
                <li class="active-bre"><a href="#">Détails classe</a> </li>
            </ul>
        </div>
        <div class="sb2-2-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-inn-sp admin-form">
                        <div class="sb2-2-add-blog sb2-2-1">
                            <h2 style="color:#00006B">Détails Classe : {{section.libelle}}</h2>
                            
                            <ul class="nav nav-tabs tab-list">
                                <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true"><i class="fa fa-calendar" aria-hidden="true"></i> <span>Emploi du temps</span></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i> <span>Liste des élèves</span></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#menu3" aria-expanded="false"><i class="fa fa-graduation-cap" aria-hidden="true"></i> <span>Liste des enseignants</span></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="#menu4" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i> <span>Semaine bloquée</span></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                            {% for message in app.flashes('success') %}
                                            <div class="alert alert-success" >{{ message }}</div>
                                        {% endfor %}
                                <div id="home" class="tab-pane fade active in">
                                    <div class="box-inn-sp">
                                        <div class="inn-title">
                                            <h4>Emploi du temps</h4>

                                        </div>
                                        <div class="tab-inn">
                                        
                                            <div>
                                            <table class="timetable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="timetable">#</th>
                                                        <th scope="col" class="timetable">08:00-09:00</th>
                                                        <th scope="col" class="timetable">09:00-10:00</th>
                                                        <th scope="col" class="timetable">10:00-11:00</th>
                                                        <th scope="col" class="timetable">11:00-12:00</th>
                                                        <th scope="col" class="timetable">14:00-15:00</th>
                                                        <th scope="col" class="timetable">15:00-16:00</th>
                                                        <th scope="col" class="timetable">16:00-17:00</th>
                                                        <th scope="col" class="timetable">17:00-18:00</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for tab in timetable %}
                                                    
                                                    <tr>
                                                        <th scope="row" class="timetable"><a href="{{path('admin_seance_index',{'id':section.id , 'day':jours[i]  })}}">{{ jours[ i ] }}</a></th>
                                                        
                                                        {% for k in range(8,11)  %}
                                                                
                                                                {% for s in tab %}
                                                                    {% set start = s.startAt|date("h") %}
                                                                    
                                                                    {% if (start == k ) %}
                                                                        
                                                                            {% set finish = s.finishAt|date("h") %} 
                                                                            {% set duration = finish - start %}
                                                                            {% if duration == 2 %}
                                                                                {% if s.course.libelle in course %}
                                                                                    <td colspan="2" class="timetable" > 
                                                                                        {{s.course}} S{{s.room.number}}
                                                                                        {% for s2 in tab %}
                                                                                            {% set start = s2.startAt|date("h") %}
                                                                                            {% if (start == k ) %}
                                                                                                {% if not (s2.course == s.course ) %}
                                                                                                    <br> {{s2.course}} S{{s2.room.number}}
                                                                                                    {% set k = k + 1  %}
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    </td>
                                                                                {% else %}
                                                                                    <td colspan="2" class="timetable" >
                                                                                        {{s.course}}
                                                                                        {% if not  s.room == null %}
                                                                                         S{{s.room.number}}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <td class="timetable" > {{s.course}} S{{s.room.number}} </td>
                                                                            {% endif %}
                                                                            {% set exist = true %}

                                                                    {% endif %}

                                                                {% endfor %}

                                                                {% if exist == false %}
                                                                    {% if k > 8 %}
                                                                        {% if lastExist == false %}
                                                                            <td class="timetable"></td>
                                                                        {% elseif lastExist == true and lastDuration == 1 %}
                                                                            <td class="timetable"></td>
                                                                        {% endif %}

                                                                    {% else %}
                                                                        <td class="timetable"></td>
                                                                    {% endif %}
                                                                {% endif %}
                                                                
                                                                {% set lastExist = exist %}
                                                                {% set lastDuration = duration %}
                                                                {% set exist = false %}
                                                        {% endfor %}
                                                        
                                                        {% for k in range(2,5)  %}
                                                                
                                                                {% for s in tab %}
                                                                    {% set start = s.startAt|date("h") %}
                                                                    
                                                                    {% if (start == k ) %}
                                                                        
                                                                            {% set finish = s.finishAt|date("h") %} 
                                                                            {% set duration = finish - start %}
                                                                            {% if duration == 2 %}
                                                                                {% if s.course.libelle in course %}
                                                                                    <td colspan="2" class="timetable" >
                                                                                        {{s.course}} S{{s.room.number}}
                                                                                        {% for s2 in tab %}
                                                                                            {% set start = s2.startAt|date("h") %}
                                                                                            {% if (start == k ) %}
                                                                                                {% if not (s2.course == s.course ) %}
                                                                                                    <br> {{s2.course}}  S{{s2.room.number}}
                                                                                                    {% set k = k + 1  %}
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    </td>
                                                                                {% else %}
                                                                                    <td colspan="2" class="timetable" >{{s.course}}
                                                                                        {% if not  s.room == null %}
                                                                                         S{{s.room.number}}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <td class="timetable" >{{s.course}} S{{s.room.number}}</td>
                                                                            {% endif %}
                                                                            {% set exist = true %}

                                                                    {% endif %}

                                                                {% endfor %}

                                                                {% if exist == false %}
                                                                    {% if k > 2 %}
                                                                        {% if lastExist == false %}
                                                                            <td class="timetable"></td>
                                                                        {% elseif lastExist == true and lastDuration == 1 %}
                                                                            <td class="timetable"></td>
                                                                        {% endif %}

                                                                    {% else %}
                                                                        <td class="timetable"></td>
                                                                    {% endif %}
                                                                {% endif %}
                                                                
                                                                {% set lastExist = exist %}
                                                                {% set lastDuration = duration %}
                                                                {% set exist = false %}
                                                        {% endfor %}
 
                                                       
                                                    </tr>
                                                    {% set i = i + 1 %}
                                                {% endfor %}  
                                                {% set i = 0 %}   
                                                    
                                                </tbody>
                                            </table>
                                                     
                                            </div>
                                            <br>
                                            <div class="text-left">
                                               <h4> <a href="{{ path('admin_seance_new' , {'id':section.id} ) }}" class="fa fa-plus-square-o "> Ajouter une séance</a></h4>
                                                <br>
                                                <h4> <a href="{{ path('admin_section_timetable' , {'id':section.id} ) }}" class="fa fa-download "> Télécharger</a></h4>
                                            </div>
                                            
                                            
                                        </div>

                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="box-inn-sp">
                                        <div class="inn-title">
                                            <h4>Liste des élèves ({{section.students|length}})</h4>
                                        </div>
                                        <div class="tab-inn">
                                            <div class="udb-sec udb-time ">
                                                 <div class="table-responsive table-desi">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Prénom</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for s in section.students %}
                                                            <tr>
                                                                <td>{{ s.firstName }}</td>
                                                                <td>{{ s.lastName }}</td>
                                                                <td> <a href="{{ path('admin_section_student' , {'id': s.id})}}" class="btn btn-info fa fa-eye"></a></td>
                                                            </tr>
                                                            {% else %}
                                                            <tr><td colspan="3"> Aucun élève n'est trouvé  </td> <tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="text-left">
                                               <h4> <a href="{{ path('admin_section_affect' , {'id': section.id})}}" class="fa fa-plus-square-o "> Affecter des éléves</a></h4>
                                            </div>
                                            <div class="text-left">
                                               <h4> <a href="{{ path('admin_section_eliminate' , {'id': section.id})}}" class="fa fa-minus-square-o "> Désaffecter des éléves</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <div class="box-inn-sp">
                                        <div class="inn-title">
                                            <h4>Liste des enseignants ({{teachers|length}})</h4>
                                        </div>
                                        <div class="tab-inn">
                                            <div class="udb-sec udb-time ">
                                                 <div class="table-responsive table-desi">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Prénom</th>
                                                                <th>Spécialité</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                       <tbody>
                                                        {% for t in teachers %}
                                                            <tr>
                                                                <td>{{ t.lastName }}</td>
                                                                <td>{{ t.firstName }}</td>
                                                                <td>{{ t.specialty }}</td>
                                                                <td> <a href="{{ path('admin_teacher_show' , {'id': t.id})}}" class="btn btn-info fa fa-eye"></a></td>
                                                            </tr>
                                                        {% else %}
                                                        <tr><td colspan="4"> Aucun enseignant n'est trouvé  </td> <tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu4" class="tab-pane fade">
                                    <div class="box-inn-sp">
                                        <div class="inn-title">
                                            <h4>Semaine bloquée : Trimestre {{parameters.quarter}}</h4>

                                        </div>
                                        <div class="tab-inn">
                                            <div class="udb-sec udb-time ">
                                                <div class="tour_head1 udb-time-line days">
                                                    <ul>
                                                    {% for tab in timetableExam %}
                                                        <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                            <div class="sdb-cl-tim">
                                                                <div class="sdb-cl-day">
                                                                    <h5>{{ jours[ i ] }}</h5>
                                                                    <span>
                                                                        {% if not tab|length == 0 %}
                                                                            {{ tab[0].passAt|date("d/m/Y") }}
                                                                        {% endif %}
                                                                    </span>
                                                                    
                                                                </div>
                                                                <div class="sdb-cl-class">
                                                                    <ul>
                                                                    {% for e in tab %}
                                                                        <li>
                                                                            <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Class timing">
                                                                                <span>
                                                                                    {% set start = e.startAt|date("h") %}
                                                                                    {% if start < 8 %}
                                                                                       {{start}}:00 PM
                                                                                    {% else %}
                                                                                        {{start}}:00 AM
                                                                                    {% endif %}
                                                                                </span>
                                                                                <span>
                                                                                    {% set finish = e.finishAt|date("h") %}
                                                                                    {% if finish < 8 %}
                                                                                       {{finish}}:00 PM
                                                                                    {% else %}
                                                                                        {{finish}}:00 AM
                                                                                    {% endif %}
                                                                                </span>
                                                                            </div>
                                                                            <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                                                <h5> {{e.course.libelle}}
                                                                                        {% if (e.course.libelle == 'Arabe' and e.type == 5 )  %} 
                                                                                            : Production
                                                                                        {% elseif (e.course.libelle == 'Arabe' and e.type == 4 ) %}
                                                                                            : Compréhension
                                                                                        {% endif %}
                                                                                     <span style="color:DarkGreen;">
                                                                                     {% for t in e.teachers %}
                                                                                            {% if t.sexe == 0 %}
                                                                                                M.{{t}}</br>
                                                                                            {% elseif t.sexe == 1 %}
                                                                                                Mme.{{t}}</br>
                                                                                            {% endif %}
                                                                                        
                                                                                    {% endfor %}
                                                                                     </span>
                                                                                </h5>
                                                                                <span class="sdn-hall-na">{{e.room}}</span>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %} 
                                                                    </ul>
                                                                    {% set i = i + 1 %}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %} 
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="text-left">
                                               <h4> <a href="{{ path('admin_exam_new' , {'id':section.id} ) }}" class="fa fa-plus-square-o "> Ajouter un examen</a></h4>
                                            </div>
                                            <div class="text-left">
                                               <h4> <a href="{{ path('admin_exam_index' , {'id':section.id} ) }}" class="fa fa-th-list "> Liste des examens</a></h4>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
    </div>
        
{% endblock %}