 {% extends 'admin-base.html.twig' %}


{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#"> Niveaux</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_level_index')}}"> Liste des niveaux</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <div class="container">
                                        <h4>Liste des niveaux </h4>
                                        
                                    </div>
                                    
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                    {% for message in app.flashes('success') %}
                                            <div class="alert alert-success" >{{ message }}</div>
                                        {% endfor %}
                                         
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Numéro</th>
                                                    <th>Libellé</th>
                                                    <th>Spécialités</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                            {% for l in levels %}
                                                <tr>
                                                    <td>{{ l.libelle }}</td>
                                                    <td>{{ l.libelle }}</td>
                                                    <td>
                                                        {% for s in l.specialties %}
                                                                {{ s }}<br>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('admin_level_edit', {'id': l.id}) }}" class="btn btn-warning fa fa-pencil"></a> 
                                                        {{ include('Admin/Level/_delete_form.html.twig') }}
                                                    </td>
											     </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(levels) }}
                </div>
            </div>
{% endblock %}

        


   

