{% extends 'front-base.html.twig  ' %}
{% block body %}
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>À propos de notre <span> Institut</span></h2>
                            <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="ed-advan">
                            <ul>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( desc1 ,'imageFile') }}" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>{{desc1.title}}</h4>
                                         {% autoescape false %}
                                           <p>{{desc1.content}}</p> 
                                        {% endautoescape %}
                                        
                                        
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( desc2 ,'imageFile') }}" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>{{desc2.title}}</h4>
                                        {% autoescape false %}
                                        <p>{{desc2.content}}</p>
                                        {% endautoescape %}
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( desc3 ,'imageFile') }}" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>{{desc3.title}}</h4>
                                        {% autoescape false %}
                                        <p>{{desc3.content}}</p>
                                        {% endautoescape %}
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( desc4 ,'imageFile') }}" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>{{desc4.title}}</h4>
                                        {% autoescape false %}
                                        <p>{{desc4.content}}</p>
                                        {% endautoescape %}
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( desc5 ,'imageFile') }}" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>{{desc5.title}}</h4>
                                        {% autoescape false %}
                                        <p>{{desc5.content}}</p>
                                        {% endautoescape %}
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( desc6 ,'imageFile') }}" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>{{desc6.title}}</h4>
                                        {% autoescape false %}
                                        <p>{{desc6.content}}</p>
                                        {% endautoescape %}
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->
 {% endblock %}
