{% extends 'front-base.html.twig  ' %}
{% block body %}
    <!-- SLIDER -->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1 active">
                    <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( parameters ,'slider1File') }} "  alt="Slider1">
                    <div class="carousel-caption slider-con">
                        <h2 style="color:orangered ;">L'EXCELLENCE POUR TOUS !</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( parameters ,'slider2File') }}" alt="Slider2">
                    <div class="carousel-caption slider-con">
                        <h2 style="color:orangered ;">L'EXCELLENCE POUR TOUS !</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( parameters ,'slider3File') }}" alt="Slider3">
                    <div class="carousel-caption slider-con">
                        <h2 style="color:orangered ;">L'EXCELLENCE POUR TOUS !</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-chevron-left slider-arr"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-chevron-right slider-arr"></i>
            </a>
        </div>
    </section>

    

    <!-- DISCOVER MORE -->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2><span> Découvrir Encore</span></h2>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                </div>
            </div>
            <div class="row">
                <div class="ed-course">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{{ path('clubs')}}">
                                <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( service1 ,'imageFile') }}" alt="Service1">
                                <span>{{service1.title}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{{ path('bilinguisme')}}">
                                <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( service2 ,'imageFile') }}" alt="Service2">
                                <span>{{service2.title}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{{ path('help')}}">
                                <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( service3 ,'imageFile') }}" alt="Service3">
                                <span>{{service3.title}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{{ path('health')}}">
                                <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( service4 ,'imageFile') }}" alt="Service4">
                                <span>{{service4.title}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- NEWS AND EVENTS -->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="con-title">
                    <h2><span>Evènements et Nouvelles</span></h2>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="bot-gal h-gal ho-event-mob-bot-sp">
                        <h4>Gallerie de photos</h4>
                        <ul>
                        {% for p in pictures %}
                            <li>
                            <img class="materialboxed" data-caption="Education master image captions" src="{{ '/Pro-Education/public' ~ vich_uploader_asset( p ,'imageFile') }}" alt="picture"></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {#<div class="col-md-4">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <h4>Vidéos intéressantes</h4>
                        <iframe src="https://www.youtube.com/embed/RQxZoIxov8g?autoplay=0&amp;showinfo=0&amp;controls=0" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/DddLorJAFv8?autoplay=0&amp;showinfo=0&amp;controls=0" allowfullscreen></iframe>
                    </div>
                </div>#}
                <div class="col-md-6">
                    <div class="bot-gal h-blog ho-event">
                        <h4>Evènements</h4>
                        <div class="ho-event">
                            <ul>
                            {% for e in events %}
                                <li>
                                    <div class="ho-ev-date"><span>{{e.time|date('d')}}</span><span>{{e.time|date('M')}} ,{{e.time|date('Y')}}</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="#">
                                            <h4>{{e.title}}</h4>
                                        </a>
                                        <p>{{e.shortDescription}}</p>
                                        <span>{{e.startAt|date('H:i')}}</span>
                                    </div>
                                </li>
                                
                              {% endfor %}   
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 {% endblock %}   