{% extends 'front-base.html.twig  ' %}
{% set jours = ['Lundi', 'Mardi' , 'Mercredi' , 'Jeudi' , 'Vendredi' ,'Samedi'] %}
{% set i = 0 %}

{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Guardian/Exam/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Guardian/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">

                        <div class="udb-sec udb-time">
                            <h4><img src="{{asset('images/icon/db4.png')}}" alt="" />Semaine bloquée : Trimestre {{parameters.quarter}}</h4>
                            
                            <div class="tour_head1 udb-time-line days">
                                <ul>
                                     {% for tab in timetableExam %}
                                        <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <div class="sdb-cl-tim">
                                            <div class="sdb-cl-day">
                                                <h5>{{ jours[ i ] }}</h5>
                                                <span>
                                                    {% if not tab|length == 0 %}
                                                        {{ tab[0].passAt|date("d/m/Y") }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="sdb-cl-class">
                                                <ul>
                                                    {% for e in tab %}
                                                    <li>
                                                        <div class="sdb-cl-class-tim tooltipped" data-position="top" data-delay="50" data-tooltip="Class timing">
                                                            <span>
                                                                {% set start = e.startAt|date("h") %}
                                                                {% if start < 8 %}
                                                                    {{e.startAt|date("h:m")}} PM
                                                                {% else %}
                                                                    {{e.startAt|date("h:m")}} AM
                                                                {% endif %}
                                                            </span>
                                                            <span>
                                                                {% set finish = e.finishAt|date("h") %}
                                                                {% if finish < 8 %}
                                                                    {{e.finishAt|date("h:m")}} PM
                                                                {% else %}
                                                                    {{e.finishAt|date("h:m")}} AM
                                                                {% endif %}
                                                            </span>
                                                            </div>
                                                            <div class="sdb-cl-class-name tooltipped" data-position="top" data-delay="50" data-tooltip="Class Details">
                                                                <h5>{{e.course.libelle}}</h5>
                                                                <span class="sdn-hall-na">{{e.room}}</span>
                                                            </div>
                                                        </li>
                                                    {% endfor %} 
                                                    </ul>
                                                    {% set i = i + 1 %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 