<div class="col-md-3">
    <div class="pro-user">
        {% if guardian.imageName == 'inconnu' and guardian.sexe == 0 %}
            <img src="{{asset('images/inconnu.png')}}" alt="user">
        {% elseif guardian.imageName == 'inconnu' and guardian.sexe == 1  %}
            <img src="{{asset('images/inconnue.png')}}" alt="user">
        {% else %}
            <img src="{{ '/Pro-Education/public' ~ vich_uploader_asset( guardian ,'imageFile') }} " alt="user" >
        {% endif %}
    </div>
    <div class="pro-user-bio">
        <ul>
            <li><h4>{{guardian.lastName}}  {{guardian.firstName}}  </h4> </li>
            <li><strong>Métier : </strong>{{guardian.job}} </li>
            <li><strong>Nom d'utilisateur : </strong>{{guardian.username}}</li>
            <li><a href="{{path('guardian_password_edit' ,{'id' : guardian.id})}}" style="color:gray; "><i class="fa fa-key"></i> Changer le mot de passe</a></li>
            <li><a href="{{path('guardian_photo_edit' ,{'id' : guardian.id})}}" style="color:gray; "><i class="fa fa fa-user" ></i> Changer la photo du profil</a></li>
        </ul>
    </div>
</div>