{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Discipline/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                            <h4><img src="{{asset('images/icon/db3.png')}}" alt="" />Registre d'appel</h4>
                            
                            <div class="pro-con-table">
                                 
                                <table class="bordered responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Séance</th>
                                            <th>Date</th>
                                            <th>Détails</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for s in register %}
                                        {% set date = s.0.date|date("md")  %}
                                        <tr>
                                            <td>{{s.0.seance.day}}</td>
                                            <td>{{s.0.date|date("d/m/Y ")}}</td>
                                            <td><a href="{{path('teacher_discipline_show', {'teacher': teacher.id ,'section' : section.id ,'date':date})}}" class="btn btn-info fa fa-eye"></a></td>
                                            <td><a href="{{path('teacher_discipline_edit', {'teacher': teacher.id ,'section' : section.id ,'date':date})}}" class="btn btn-warning fa fa-pencil"></a></td>
                                        </tr>
                                        
                                    {% endfor %}  
                                    </tbody>
                                </table>
                                
                            </div>
                            <div class="sdb-bot-edit">
                                    
                                    <a href="{{path('teacher_discipline_call', {'teacher': teacher.id ,'section' : section.id})}}" ><i class="fa fa-check-circle-o"></i> Faire l'appel</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 