{% extends 'front-base.html.twig  ' %}
{% set i = 0 %}
{% set nbM = 0 %}
{% block stylesheets %}
    <style>
    table, th, td {
        border: 2px solid gray;
    }
    th, td {
        padding: 10px;
        text-align: center;
        color : gray;
    }
    .color {
        background-color: #84add6;
        color: white;
    }


    </style>    
{% endblock %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        <div class="pro-menu">
            <div class="container">
                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li><a href="{{path('guardian_profile', {'id': guardian.id})}}" >Profile</a></li>
                        <li><a href="{{path('guardian_timetable', {'id': guardian.id})}}" >Emploi du temps</a></li>
                        <li><a href="{{path('guardian_discipline', {'id': guardian.id})}}" >Discipline</a></li>
                        <li><a href="{{path('guardian_exam_children', {'id': guardian.id})}}"   >Examens</a></li>
                        <li><a href="{{path('guardian_result_average', {'id': guardian.id})}}" class="pro-act">Résultats</a></li>
                        <li><a href="{{path('guardian_teachers', {'id': guardian.id})}}" >Enseignants</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Guardian/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                            <h4><img src="{{asset('images/icon/db5.png')}}" alt="" />Fiche des notes : Trimestre {{quarter}}</h4>
                            
                            <div class="pro-con-table">
                                <table class="bordered responsive-table">
                                    <thead>
                                        <tr>
                                            <th class="color">Matiére</th>
                                            <th class="color">Coefficient</th>
                                            <th class="color">Examens</th>
                                            <th class="color">Notes</th>
                                            <th class="color">Moyenne</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for  key ,t in noteTable %}
                                        {% set tab = key|split(',') %}
                                        
                                        <tr>
                                            <td>{{tab.0}}</td>
                                            <td>{{tab.1}} </td>
                                            <td>
                                                <table>
                                                    {% for e in t %}
                                                        <tr>{{e.1}}</tr><br>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    {% for e in t %}
                                                        <tr>{{e.2}}</tr><br>
                                                    {% endfor %}
                                                </table>
                                            </td>
                                           <td>
                                                {% set s = 0 %}
                                                {% set SC = 0 %}
                                                {% set l = 0 %}
                                                {% for e in t %}
                                                    {% if   e.3 == true  %}
                                                        {% set nc = e.2 * e.0 %}
                                                        {% set s = s + nc %} 
                                                        {% set l = l + 1 %}
                                                        {% set SC = SC + e.0 %} 
                                                    {% endif %}
                                                {% endfor %}
                                                {% if tab.2 == l %}
                                                    {% set m = s / SC %}
                                                    {{m|slice(0,5)}} 
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}   
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 