{{ form_start(form) }}
    <div class="row">
       <div class="col-md-4">{{ form_row(form.libelle)}}</div>
       <div class="col-md-4">{{ form_row(form.coefficient)}}</div>
       <div class="col-md-4">{{ form_row(form.nbrExams)}}</div>
     </div>
     <div class="row">
       <div class="col-md-4">{{ form_row(form.level)}}</div>
       <div class="col-md-4">{{ form_row(form.specialty)}}</div>
     </div>
     <br><br>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

