{% extends 'front-base.html.twig  ' %}
{% block stylesheets %}
    <style>
    table, th, td {
        border: 2px solid gray;
    }
    th, td {
        padding: 10px;
        text-align: center;
        color : gray;
    }
    .color {
        background-color: #84add6;
        color: white;
    }


    </style>    
{% endblock %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Exam/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" >{{ message }}</div>
                        {% endfor %}
                            <h4><img src="{{asset('images/icon/db5.png')}}" alt="" />Examens {{teacher.specialty}}</h4>
                            <div class="container">
                                {{ form_start(form)}}
                                    <div class="form-row">
                                        <div class="col-md-2">
                                            {{ form_row(form.quarter )}}
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-primary"> Rechercher </button>
                                        </div>
                                    </div>
                                {{ form_end(form)}}
                            </div>
                            <div class="text-right">
                                            
                                <a href="{{path('teacher_exam_new', {'id': teacher.id ,'section' : section.id})}}" ><i class="fa fa-plus-square-o"></i> Ajouter un examen</a>
                            </div>
                            <div class="pro-con-table">
                                 
                                <table class="bordered responsive-table">
                                    <thead>
                                        <tr>
                                            <th class="color">Trimestre</th>
                                            <th class="color">Type</th>
                                            <th class="color">Date</th>
                                            <th class="color">Détails</th>
                                            <th class="color">Notes</th>
                                            <th class="color" colspan="2">Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for e in exams %}
                                        
                                        <tr>
                                            <td>{{e.quarter.number}}</td>
                                            <td>
                                                {% if e.type == 0 %} Orale
                                                {% elseif e.type == 1 %} TP
                                                {% elseif e.type == 2 %} Controle1
                                                {% elseif e.type == 3 %} Controle2
                                                {% elseif e.type == 4 %} Synthése1
                                                {% elseif e.type == 5 %} Synthése2
                                                {% endif %}
                                            </td>
                                            <td>{{e.passAt|date('d-m-Y')}} </td>
                                            <td><a href="{{path('teacher_exam_show', {'teacher':teacher.id ,'id': e.id})}}" class="btn btn-info fa fa-eye"></a></td>
                                            <td><a href="{{path('teacher_exam_note', {'teacher':teacher.id ,'id': e.id})}}" class="btn btn-success fa fa-star"></a></td>
                                            
                                            
                                            <td><a href="{{path('teacher_exam_edit', {'teacher':teacher.id ,'id': e.id})}}" class="btn btn-warning fa fa-pencil"></a></td>
                                            <td>   {{ include('Front/Teacher/Exam/_delete_form.html.twig') }}</td>
                                            
                                        </tr>
                                    {% else %}
                                    
                                     <tr><td colspan="6"> Aucun examen n'est trouvé  </td> <tr>
                                    {% endfor %}  
                                    </tbody>
                                </table>
                                
                            </div>
                            
                        </div>
                        <div class="pagination">
                             {{ knp_pagination_render(exams) }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 