{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Exam/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour">
                            <h4><img src="{{asset('images/icon/db5.png')}}" alt="" />Examens</h4>
                            {% for s in sections %}
                            <div class="sdb-cours">
                            <h4><strong>{{s}}</strong></h4>
                                <ul>
                                    <li>
                                        <a href="{{path('teacher_exam_calendar', {'teacher': teacher.id,'section':s.id})}}">
                                            <div class="list-mig-like-com com-mar-bot-30">
                                                <div class="list-mig-lc-img"> <img src="{{asset('images/classe/1.jpg')}}" alt=""> </div>
                                                <div class="list-mig-lc-con">
                                                    <h5>Cahier des examens</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('teacher_exam_index', {'teacher': teacher.id ,'section':s.id})}}">
                                            <div class="list-mig-like-com com-mar-bot-30">
                                                <div class="list-mig-lc-img"> <img src="{{asset('images/classe/4.jpg')}}" alt="">  </div>
                                                <div class="list-mig-lc-con">
                                                    <h5>Examens {{teacher.specialty}}</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                            
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 