{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Exam/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                        
                        <h4><img src="{{asset('images/icon/db5.png')}}" alt="" />Examens {{teacher.specialty}} :
                            {% if exam.type == 0 %} Orale
                            {% elseif exam.type == 1 %} TP
                            {% elseif exam.type == 2 %} Controle1
                            {% elseif exam.type == 3 %} Controle2
                            {% elseif exam.type == 4 %} Synthése1
                            {% elseif exam.type == 5 %} Synthése2
                            {% endif %}
                        </h4>
                        <div class="sdb-tabl-com sdb-pro-table">
                                <table class="responsive-table bordered">
                                    <tbody>
                                        <tr>
                                            <td>Trimestre</td>
                                            <td>:</td>
                                            <td>{{exam.quarter}} </td>
                                        </tr>
                                        <tr>
                                            <td>Classe</td>
                                            <td>:</td>
                                            <td>{{exam.section}} </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Date </td>
                                            <td>:</td>
                                            <td>{{exam.passAt|date('d-m-Y')}} </td>
                                        </tr>
                                        <tr>
                                            <td>Début</td>
                                            <td>:</td>
                                            <td>{{exam.startAt|date('h:m')}} </td>
                                        </tr>
                                        <tr>
                                            <td>Fin</td>
                                            <td>:</td>
                                            <td>{{exam.finishAt|date('h:m')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Salle</td>
                                            <td>:</td>
                                            <td>{{exam.room}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 