{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        <div class="pro-menu">
            <div class="container">
                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li><a href="{{path('teacher_profile', {'id': teacher.id})}}" >Profile</a></li>
                        <li><a href="{{path('teacher_timetable', {'id': teacher.id})}}" >Emploi du temps</a></li>
                        <li><a href="#"  >Discipline</a></li>
                        <li><a href="{{path('teacher_exam_index', {'id': teacher.id})}}" class="pro-act" >Examens</a></li>
                        <li><a href="{{path('teacher_doc_index', {'id': teacher.id})}}"   >Documents</a></li>
                        <li><a href="#" >Club</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                        <h4><img src="{{asset('images/icon/db5.png')}}" alt="" />Examens</h4>
                        <div class="sdb-tabl-com sdb-pro-table">
                                <table class="responsive-table bordered">
                                    <tbody>
                                        <tr>
                                            <td>Trimestre</td>
                                            <td>:</td>
                                            <td>{{exam.quarter}} </td>
                                        </tr>
                                        <tr>
                                            <td>Classe</td>
                                            <td>:</td>
                                            <td>{{exam.section}} </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Date </td>
                                            <td>:</td>
                                            <td>{{exam.passAt|date('d-m-Y')}} </td>
                                        </tr>
                                        <tr>
                                            <td>Début</td>
                                            <td>:</td>
                                            <td>{{exam.startAt|date('h:m')}} </td>
                                        </tr>
                                        <tr>
                                            <td>Fin</td>
                                            <td>:</td>
                                            <td>{{exam.finishAt|date('h:m')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Salle</td>
                                            <td>:</td>
                                            <td>{{exam.room}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 