{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Document/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        
                        <div class="udb-sec udb-cour-stat">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" >{{ message }}</div>
                        {% endfor %}
                            <h4><img src="{{asset('images/icon/db2.png')}}" alt="" />Documents</h4>
                            
                            <div class="pro-con-table">
                                <table class="bordered responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Classe</th>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Details</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for d in docs %}
                                        <tr>
                                            <td>{% for s in d.sections %}
                                                    {{s.libelle}}<br>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% if d.type == 0 %}
                                                   Cours
                                                {% elseif d.type == 1 %}
                                                    Exercies
                                                {% elseif d.type == 2 %}
                                                    TP
                                                {% elseif d.type == 3 %}
                                                    Examen
                                                {% endif %}
                                            </td>
                                            <td>{{d.description}}</td>
                                            <td>{{d.postedAt|date("d/m/Y ") }}</td>
                                            <td><a href="{{path('teacher_doc_show', {'id': d.id})}}" class="btn btn-info fa fa-file-text-o"></a></td>
                                            <td><a href="{{path('teacher_doc_edit', {'id': d.id})}}" class="btn btn-warning fa fa-pencil"></a></td>
                                            <td>   {{ include('Front/Teacher/Document/_delete_form.html.twig') }}</td>
                                        </tr>
                                        
                                    {% endfor %}  
                                    </tbody>
                                </table>
                                <div class="sdb-bot-edit">
                                    
                                    <a href="{{path('teacher_doc_new', {'id': teacher.id})}}" ><i class="fa fa-plus-square-o"></i> Ajouter un document</a>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                             {{ knp_pagination_render(docs) }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 