{% extends 'admin-base.html.twig' %}

{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#"> Enseignants</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_teacher_index')}}"> Liste des Enseignants</a>
                        </li>
                    </ul>
                </div>
                <div> 
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <div class="container">
                                        <h4>Enseignants </h4>
                                        
                                    </div>
                                    
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success" >{{ message }}</div>
                                        {% endfor %}
                                        <form class=" form-row">
                                                <div class="col">
                                                     <input type="text" class="form-control" placeholder=" Nom" name="last" style="border-style: ridge;" >
                                                </div>
                                                <div class="col" >
                                                    <input type="text" class="form-control" placeholder=" Prénom" name="first" style="border-style: ridge;" >
                                                </div>
                                                <div class="col">
                                                     <input type="text" class="form-control" placeholder=" Spécialité" name="specialty" style="border-style: ridge;" >
                                                </div>
                                                <div class="col">
                                                     <input type="submit"  value="Rechercher" class="btn btn-primary btn-xs" >
                                                </div>
                                        </form>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
                                                    <th>Spécialité</th>
                                                    <th>Détails</th>
													<th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                            {% for t in teachers %}
                                                <tr>
                                                    <td>{{ t.LastName}}</td>
                                                    <td>{{ t.firstName}}</td>
                                                    <td>{{ t.specialty}}</td>
                                                    <td><a href="{{ path('admin_teacher_show', {'id': t.id}) }}" class="btn btn-info fa fa-eye"></a></td>
                                                    <td>
                                                        <a href="{{ path('admin_teacher_edit', {'id': t.id}) }}" class="btn btn-warning fa fa-pencil"></a> 
                                                        {{ include('Admin/Teacher/_delete_form.html.twig') }}
                                                    </td>
											     </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(teachers) }}
                </div>
            </div>
{% endblock %}