{% extends 'admin-base.html.twig' %}

{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="{{path('admin_teacher_index')}}"> Liste des enseignants</a>
                        </li>
                        <li class="active-bre"><a href="#">Détails enseignant</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>Détails enseignant  </h4>
                                    
                                </div>
                                <div class="tab-inn">
                                    <div class="udb-sec udb-prof">
                                        <h4>
                                            {% if teacher.imageName == 'inconnu' and teacher.sexe == 0 %}
                                                <img  class="list-img" src="{{asset('images/inconnu.png')}}" alt="photo">
                                            {% elseif teacher.imageName == 'inconnu' and teacher.sexe == 1  %}
                                                <img class="list-img" src="{{asset('images/inconnue.png')}}" alt="photo">
                                            {% else %}
                                                <img class="list-img" src="{{ '/Pro-Education/public' ~ vich_uploader_asset( teacher ,'imageFile') }} " alt="photo">
                                            {% endif %}
                                            {{ teacher.firstName}} {{ teacher.lastName}}
                                        </h4>
                                        
                                        <div class="sdb-tabl-com sdb-pro-table">
                                            <table class="responsive-table bordered">
                                                <tbody>
                                                    <tr>
                                                        <td><strong>CIN</strong></td>
                                                        <td>:</td>
                                                        <td>{{ teacher.cin}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Date de naissance</strong></td>
                                                        <td>:</td>
                                                        <td>{{ teacher.birthDate|date('d-m-Y')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Lieu de naissance</strong></td>
                                                        <td>:</td>
                                                        <td>{{ teacher.birthplace}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Sexe</strong></td>
                                                        <td>:</td>
                                                        <td>
                                                            {% if teacher.sexe == 0 %} Homme
                                                            {% elseif teacher.sexe == 1 %} Femme
                                                            {% endif %}
                                                         </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>E-mail</strong></td>
                                                        <td>:</td>
                                                        <td>{{ teacher.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Téléphone</strong></td>
                                                        <td>:</td>
                                                        <td>{{teacher.tel|slice(0,2)}} {{teacher.tel|slice(2,3)}} {{teacher.tel|slice(5,3)}}</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td><strong>Adresse</strong></td>
                                                        <td>:</td>
                                                        <td>{{ teacher.address}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Spécialité</strong></td>
                                                        <td>:</td>
                                                        <td>{{ teacher.specialty}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Type</strong></td>
                                                        <td>:</td>
                                                        <td>
                                                            {% if teacher.type == 0 %} Recruté
                                                            {% elseif teacher.type == 1 %} Vacataire
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
{% endblock %}