{{ form_start(form)}}
     
     <div class="row">
        <div class="col-md-4">{{ form_row(form.teachers)}}</div>
      </div>
      <div class="row">
        <div class="col-md-4">{{ form_row(form.room)}}</div>
     </div>

     <br><br>
     <button class="btn">{{ button_label|default('Enregistrer') }}</button>
   {{ form_end(form)}}