{% extends 'admin-base.html.twig' %}


{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_section_index')}}"> Liste des Classes</a></li>
                        <li class="active-bre"><a href="{{ path('admin_section_show' , {'id':exam.section.id})}}">Détails classe</a> </li>
                        <li class="active-bre"><a href="#"> Modifier un examen</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
						<div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Modifier un examen</h4>
                                    
                                </div>
                                <div class="tab-inn">
                                {% for message in app.flashes('fail') %}
                                            <div class="alert alert-danger" >{{ message }}</div>
                                        {% endfor %}
                                   {{ include('Admin/Exam/_form.html.twig' , {'button_label': 'Suivant'}) }}
                                    
                                </div>
                                    
                        </div>
                        
                    </div>
                </div>
                        
            </div>
                    
        </div>
                
    </div>

        
{% endblock %}

{% block javascripts %}
<script>
        var $course = $('#seance_course');   
        $course.change(function() {
                var $form = $(this).closest('form');
                var data = {};
                data[$course.attr('name')] = $('#seance_course').val();
               alert(JSON.stringify(data));
                $.ajax({
                     url : $form.attr('action'),
                     type: $form.attr('method'),
                     data : data,
                     success: function(html) {
                         $('#seance_teacher').replaceWith(  $(html).find('#seance_teacher') );
                     }
                });
        });
</script>
{% endblock %}