{% extends 'front-base.html.twig  ' %}
{% block body %}
<!--SECTION START-->
    <section>
        <div class="pro-cover">
        </div>
        {{ include('Front/Teacher/Observation/_menu.html.twig') }}
        <div class="stu-db">
            <div class="container pg-inn">
                {{ include('Front/Teacher/Profile/_profile_photo.html.twig') }}
                <div class="col-md-9">
                    <div class="udb">
                        <div class="udb-sec udb-cour-stat">
                        {% for message in app.flashes('fail') %}
                            <div class="alert alert-danger" >{{ message }}</div>
                        {% endfor %}
                        <h4><img src="{{asset('images/icon/db2.png')}}" alt="" />Observations</h4>
                           {{ include('Front/Teacher/Observation/_form.html.twig' , {'button_label': 'Modifier'}) }}
                            
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


{% endblock %} 