{% extends 'admin-base.html.twig' %}


{% block body %}
<!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
            <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{{path('admin_dashbord')}}"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a>
                        </li>
                        <li class="active-bre"><a href="#"> Specialités</a>
                        </li>
                        <li class="active-bre"><a href="{{ path('admin_specialty_index')}}"> Liste des spécialités</a>
                        </li>
                    </ul>
                </div>
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <div class="container">
                                        <h4>Liste des spécialités </h4>
                                        
                                    </div>
                                    
                                </div>
                                <div class="tab-inn">
                                    <div class="table-responsive table-desi">
                                    {% for message in app.flashes('success') %}
                                            <div class="alert alert-success" >{{ message }}</div>
                                        {% endfor %}
                                        
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Libellé</th>
                                                    <th>Raccourci</th>
                                                    <th>Niveaux</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            
                                            {% for s in specialties %}
                                                <tr>
                                                    <td>{{ s.libelle }}</td>
                                                    <td>{{ s.shortcut }}</td>
                                                    <td>
                                                        {% for l in s.levels %}
                                                                {{ l }} <br>
                                                             {% endfor %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('admin_specialty_edit', {'id': s.id}) }}"  class="btn btn-warning fa fa-pencil"></a>
                                                        {{ include('Admin/Specialty/_delete_form.html.twig') }} 
                                                    </td>
											     </tr>
                                                 {% else %}
                                                <tr><td colspan="4"> Aucune spécialité n'est trouvée  </td> <tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(specialties) }}
                </div>
            </div>
{% endblock %}

        


   

