<div class="pro-menu">
            <div class="container">
                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li><a href="{{path('student_profile', {'id': student.id})}}">Profile</a></li>
                        <li><a href="{{path('student_timetable', {'id': student.id})}}" >Emploi du temps</a></li>
                        <li><a href="{{path('student_discipline', {'id': student.id})}}" >Discipline</a></li>
                        <li><a href="{{path('student_exams', {'id': student.id})}}" >Examens</a></li>
                        <li><a href="{{path('student_notes', {'id': student.id})}}">Résultats</a></li>
                        <li><a href="{{path('student_obs', {'id': student.id})}}">Observations</a></li>
                        <li><a href="{{path('student_doc_index', {'id': student.id})}}" class="pro-act ">Documents</a></li>
                        
                    </ul>
                </div>
            </div>
</div>